<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/eprimak/">CLT Web</a> |
        <a href="https://github.com/ep-15">GitHub</a> |
        <a href="https://ep-15.github.io/">GitHub.io</a> |
        <a href="https://www.freecodecamp.org/eprimak">freeCodeCamp</a> |
        <a href="https://www.codecademy.com/profiles/eprimak">Codecademy</a>
    </nav>
    <p>Page created by <a href="eprimakdesigns.co/">E. Primak Designs </a>| Certified in Front-End Web Development</p>
    <p><em>"Progress over perfection"</em></p>
</footer>