<header>
<h1>Ethan Primak's Elegant Panda | ITIS3135</h1>
    <nav>
        <a href="./">Home</a> |
        <a href="introduction.html">Introduction</a> |
        <a href="contract.html">Contract</a> |
        <a href="about.html">About</a> |
        <a href="survey.html">Survey</a> |
        <a href="cards.html">Gallery</a> |
        <a href="inventory.html">Inventory</a> |
        <a href="documentation.html">Instructions</a> |
        <a href="product.html">Highlight</a>
    </nav>
    <nav class="secondary-nav">
        <a href="stuff/cRapPy PaGe😍.htm">Crappy Page</a> |
        <a href="eprimakdesigns.co/index.html">E. Primak Designs</a>
    </nav>
</header>